.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile {
  text-align: left;
}

.appointments {
  align-items: center;
  justify-content: center;
  text-align: center;
}

body {
  background-color: #ebeff5;
}

.login {
  background-color: grey;
}

.login-error {
  background-color:darkred;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.parent-container {
  /* Set the initial brightness for the parent container */
  filter: brightness(100%);
  transition: filter 0.3s ease; /* Add a smooth transition effect */
}

.parent-container.modal-open {
  /* Decrease brightness of the parent container when the modal is open */
  filter: brightness(70%);
}

/* modalBackground.css */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity to control the level of blur */
  backdrop-filter: blur(5px); /* Adjust the blur amount as desired */
  z-index: 1030; /* Ensure the modal background is above other content */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 100px;
  text-decoration: green;
}

font {
  color: red;
}